# git-ignore configuration files with prod data
productiveConfig

# log files from various APIs. * at the end because of velocity.log.1 etc.
velocity.log*

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# artifacts from diverse IDEs
.idea
*.iml

# build artefacts
target
*.class

# log files
*.log

# grammar artefacts
*.html
*.dot
*.pdf
*.svg
*.swp